@media screen {
  @font-face {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/ubuntu/ubuntu_normal.woff2") format("woff2");
  }
}
:root {
  --lotoes-blue: #072179;
  --text: #4e4e4e;
  --primary-divider: #dedede;
  --highlight-divider: #979797;
  --pale-grey: #767676;
  --divider-dark-bg: #435a85;
  --error: #ff0000;
  --bright-blue: #00b5e2;
  --purple: #7566a0;
  --orange: #fe5000;
  --yellow: #fedb00;
  --green: #279989;
  --primary: #0079c0;
  --secondary: #a8cf45;
  --status-success: #447615;
  --status-danger: #cc0022;
  --status-warning: #d48536;
}

body {
  color: var(--text);
  background-color: #f4f6f9;
  font-family: "Ubuntu", sans-serif;
}
.pure-g [class*="pure-u"] {
  font-family: "Ubuntu", sans-serif;
}

/*Defaults*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h3 {
  font-weight: 100;
}
table {
  width: 100%;
}
pre {
  white-space: pre-wrap;
}

/*Additional*/
.pull-right {
  float: right !important;
}

.subhead {
  text-transform: uppercase;
  color: rgb(22, 32, 61);
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 0.1em;
}
.pure-message {
  padding: 0.2em 1em;
  margin-bottom: 0.2em;
  font-size: 85%;
}
.header-large h2 {
  font-weight: 100;
  color: rgb(176, 202, 219);
}
.primary-button,
.secondary-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 20px;
}
.primary-button {
  color: #fff;
  background: #1b98f8;
  margin: 1em 0;
}
.secondary-button {
  background: #fff;
  border: 1px solid #ddd;
  color: #666;
  padding: 0.5em 2em;
  font-size: 80%;
}
.column-block {
  margin: 0;
  padding: 0 1em 2em;
  background-color: #fff;
}
.column-block-header {
  background: #111;
  color: #fff;
  text-align: center;
}
.column-block-header h2 {
  margin: 0;
  padding-top: 2em;
  font-size: 1em;
  font-weight: normal;
}
.column-block-info {
  font-size: 6em;
  margin: 0.2em 0 0;
  font-weight: 100;
}
.column-block-info span {
  display: block;
  text-transform: uppercase;
  font-size: 0.2em;
  padding-bottom: 2em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  *color: #fff;
}
.column-block-list li {
  padding: 1em;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
}
/*Button Buble Message Types*/
.buble-success,
.buble-error,
.buble-warning,
.buble-secondary {
  padding: 0.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.button-success,
.message-success,
.column-success,
.buble-success,
.button-error,
.message-error,
.column-error,
.buble-error,
.button-warning,
.message-warning,
.column-warning,
.buble-warning,
.button-secondary,
.message-secondary,
.column-secondary,
.buble-secondary {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success,
.message-success,
.column-success,
.buble-success {
  background: rgb(28, 184, 65);
}

.button-error,
.message-error,
.column-error,
.buble-error {
  background: rgb(202, 60, 60);
}

.button-warning,
.message-warning,
.column-warning,
.buble-warning {
  background: rgb(223, 117, 20);
}

.button-secondary,
.message-secondary,
.column-secondary,
.buble-secondary {
  background: rgb(66, 184, 221);
}
.button-xxsmall {
  font-size: 40%;
}
.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

/*Footer*/
.footer,
.navigation {
  margin: 2em 0 0 0;
  padding: 1em 0;
  text-align: center;
}
.footer {
  border-top: 1px solid #eee;
}
.footer a {
  color: #aaa;
  font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

#layout,
#nav,
#list,
#main {
  margin: 0;
  padding: 0;
}

#nav {
  width: 100%;
  height: 40px;
  position: relative;
  background: rgb(37, 42, 58);
  text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
  display: block;
  top: 0.5em;
  right: 0.5em;
  position: absolute;
}

#nav.active {
  height: 80%;
}
.nav-inner {
  display: none;
}
#nav h1 {
  color: #fff;
  font-size: 1.6em;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
  display: block;
  padding: 2em 0;
}
#nav .pure-menu {
  background: transparent;
  border: none;
  text-align: left;
}
#nav .pure-menu-link:hover,
#nav .pure-menu-link:focus,
#nav .pure-menu-link.active {
  background: rgb(55, 60, 90);
}
#nav .pure-menu-link {
  color: #fff;
  margin-left: 0.5em;
}
#nav .pure-menu-heading {
  border-bottom: none;
  font-size: 110%;
  color: rgb(75, 113, 151);
}
.email-count {
  color: rgb(75, 113, 151);
}

.email-label-personal,
.email-label-work,
.email-label-travel {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 0.5em;
  border-radius: 3px;
}
.email-label-personal {
  background: #ffc94c;
}
.email-label-work {
  background: #41ccb4;
}
.email-label-travel {
  background: #40c365;
}

.content-header,
.content-body,
.content-footer {
  padding: 1em 2em;
}
.content-header {
  border-bottom: 1px solid #ddd;
}

.content-title {
  margin: 0.5em 0 0;
}
.content-subtitle {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}
.content-subtitle span {
  color: #999;
}
.content-controls {
  margin-top: 2em;
  text-align: right;
}
.content-controls .secondary-button {
  margin-bottom: 0.3em;
}

@media (min-width: 40em) {
  #layout {
    padding-left: 185px;
    position: relative;
    top: 33%;
    margin-right: 2%;
  }
  /* These are position:fixed; elements that will be in the left 500px of the screen */
  #nav,
  #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
  }
  #nav {
    margin-left: -185px;
    width: 170px;
    height: 100%;
  }

  /* Show the menu items on the larger screen */
  .nav-inner {
    display: block;
    padding: 0.2em 0;
  }

  /* Hide the "Menu" button on larger screens */
  #nav .nav-menu-button {
    display: none;
  }

  #list {
    margin-left: -350px;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid #ddd;
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 */
@media (min-width: 60em) {
  /* This will take up the entire height, and be a little thinner */
  #list {
    margin-left: -350px;
    width: 350px;
    height: 100%;
    border-right: 1px solid #ddd;
  }

  /* This will now take up it's own column, so don't need position: fixed; */
  #main {
    position: static;
    margin: 0;
    padding: 0;
  }
}

.hi-user {
  margin-top: 10px;
  color: rgb(221, 202, 202);
}
/*** LOGIN ***/
.body-login {
  background-color: rgba(0, 37, 73, 0.5);
}
#login {
  margin-top: 19vh;
  background-color: #ffffff;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  padding: 20px;
  text-align: center;
}
#login .form-item {
  margin: 20px 0;
}
#login h1 {
  padding-top: 40px;
  color: #133e66;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 23px;
}
#login .form-item input {
  width: 66%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}
#login .in:focus,
#focus .in:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}
#login #submit {
  cursor: pointer;
  border-radius: 5em;
  color: #fff;
  background: linear-gradient(to right, #11187a, #4a73e4);
  border: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

/*** ALERT ***/
.alert {
  width: 100%;
  font-size: 13px;
  border: 1px solid red;
}
